{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/header

    Page header template

    Example context (json): {}
}}

{{> theme_moove/accessibilitybar }}

<nav class="fixed-top navbar navbar-light navbar-expand moodle-has-zindex">
    <div class="th_header_frontpage">
        <div class="container"> 
            <a href="{{{ config.wwwroot }}}" class="navbar-brand {{#output.get_logo}}has-logo{{/output.get_logo}}
                {{^output.get_logo}}
                    d-none d-sm-inline
                {{/output.get_logo}}
                    ">
                {{#output.get_logo}}
                    <span class="logo d-none d-sm-inline">
                        <img src="{{output.get_logo}}" alt="{{sitename}}">
                    </span>
                {{/output.get_logo}}
                <span class="site-name d-none d-md-inline">{{{ sitename }}}</span>
            </a>

            <ul class="th-search-vmc">
                <div class="col-xl-12">
                    <form id="search_form" action="{{{ config.wwwroot }}}/local/th_ecommercelib/search/th_search_product.php" method="get">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4" id="th_search_form">
                        <div class="input-group">
                            <input type="search" id="live_search" name="search" autocomplete="off" placeholder="Tìm kiếm..." aria-describedby="button-addon1" class="th-input-search form-control border-0 bg-light ml10">
                            <div class="input-group-append">
                                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </ul>

            <ul class="nav navbar-nav ml-auto">
                <div class="d-none d-lg-block">
                    {{{ output.search_box }}}
                </div>

                <li class="nav-item cart-menu">
                    {{>theme_moove/cart_icon}}
                </li>

                <li class="nav-item lang-menu">
                    {{{ output.render_lang_menu }}}
                </li>

                {{{ output.navbar_plugin_output }}}
                
                {{{ output.user_menu }}}

            </ul>

            <ul class="th_nav_menu_mobile">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </ul>
        </div>
        <div class="container th_custom_menu">
            {{{ output.custom_menu }}}
        </div>
    </div>
</nav>

{{>theme_moove/nav_bar_menu_mobile}}

<style>
.navbar {
    max-height: 150px;
}

.th_custom_menu {
    list-style: none;
    justify-content: start !important;
    margin-top: 10px;
}

.th_custom_menu .nav-link{
    color: #0a0a0a;
    text-transform: uppercase;
}

.th_header_frontpage{
    width: 100%;
}

.align-items-center {
    margin-top: 80px;
}

nav.navbar ul.navbar-nav .cart-menu {
    color: #1e88e5;
    padding: 0.2rem 0.8rem 0 1.2rem;
    max-height: 70px;
}

nav.navbar ul.navbar-nav .custom-menu-admin {
    color: #1e88e5;
    padding: 0.2rem 0.8rem 0 1.2rem;
    max-height: 70px;
}

nav.navbar ul.navbar-nav .custom-menu-admin i{
    font-size: 1.5em
}

.th-cart-num i{
    font-size: 1.5em
}

.th-cart-num #th_lblCartCount {
    font-size: x-small;
}

@media (max-width: 1200px) {
    .navbar-expand .navbar-nav{
        display: none;
    }

    .th_custom_menu {
        display: none !important;
    }

    .side-menu-close{
        display: none;
    }

    .th-search-vmc {
        display: none;
    }
}

@media (min-width: 1201px) {
    .th_nav_menu_mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .th_header_frontpage .d-none {
        display: contents !important;
    }

    nav.navbar .navbar-brand .logo img {
        max-height: 55px;
    }

    nav.navbar .navbar-brand .site-name {
        font-weight: 600;
        font-size: 1.2em;
        margin-left: 15px;
    }
}

.th_nav_menu_mobile .bar {
    background-color: #21395F;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.th_nav_menu_mobile .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 15px;
}

</style>

{{#js}}

    document.getElementById('mobile-menu').addEventListener('click', function() {
        document.getElementsByClassName("th_nav_bar_menu_mobile")[0].style.webkitAnimationName = 'vmccategory';
        document.getElementsByClassName("th_nav_bar_menu_mobile")[0].style.animationName = 'vmccategory';
        document.getElementsByClassName('th_nav_bar_menu_mobile')[0].classList.toggle('open_navbar_mobile');
    });

    document.querySelector('.vmc-close').addEventListener('click', function() {
        document.getElementsByClassName("th_nav_bar_menu_mobile")[0].style.webkitAnimationName = 'vmccategoryhide';
        document.getElementsByClassName("th_nav_bar_menu_mobile")[0].style.animationName = 'vmccategoryhide';
        document.getElementsByClassName("th_nav_bar_menu_mobile")[0].classList.remove("open_navbar_mobile");
    });

{{/js}}
