<div class="th_nav_bar_menu_mobile">
    <p class="vmc-close"><i class="fas fa-times"></i></p>
    <ul id="category-menu" class="category-menu"><li id="menu-item-5848" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5848"><a href="https://vmcvietnam.org/khoa-hoc"><span><i class="fas fa-books"></i> Tất cả khóa học</span></a></li>
        <li id="menu-item-5849" class="menu-item">
            <a href="https://vmcvietnam.org/danh-muc/khoa-hoc-combo">
                <span><i class="fab fa-leanpub"></i> Khóa học combo</span>
            </a>
        </li>
        <li id="menu-item-5849" class="menu-item">
            <a href="https://vmcvietnam.org/danh-muc/khoa-hoc-combo">
                <span><i class="fab fa-leanpub"></i> Khóa học combo</span>
            </a>
        </li>
        <li id="menu-item-5849" class="menu-item">
            <a href="https://vmcvietnam.org/danh-muc/khoa-hoc-combo">
                <span><i class="fab fa-leanpub"></i> Khóa học combo</span>
            </a>
        </li>
        <li id="menu-item-5849" class="menu-item">
            <a href="https://vmcvietnam.org/danh-muc/khoa-hoc-combo">
                <span><i class="fab fa-leanpub"></i> Khóa học combo</span>
            </a>
        </li>
        <li id="menu-item-5849" class="menu-item">
            <a href="https://vmcvietnam.org/danh-muc/khoa-hoc-combo">
                <span><i class="fab fa-leanpub"></i> Khóa học combo</span>
            </a>
        </li>
    </ul>                
    <ul style="margin-top:0; padding: 0 1em;">
        <li><a href="https://vmcvietnam.org/category/tin-tuc" target="_blank"><span><i class="fas fa-rss"></i> Blog</span></a></li>
    </ul>
</div>

<style>

.th_nav_bar_menu_mobile.open_navbar_mobile {
    left: 0;
    -webkit-animation-name: vmccategory;
    animation-name: vmccategory;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    z-index: 999999;
}

.th_nav_bar_menu_mobile {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    bottom: 0;
    height: 100%;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

.th_nav_bar_menu_mobile ul {
    margin-top: 2em;
    padding: 1em 0 0 1.5em;
    background-color: #fff;
    list-style: none;
}

.th_nav_bar_menu_mobile ul li {
    padding: 0.4em 0;
}

.th_nav_bar_menu_mobile ul li a {
    color: #82317f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-decoration: none;
}

.th_nav_bar_menu_mobile ul li a i {
    width: 35px;
    color: #82317f;
    font-size: 1.5em;
    font-weight: 400;
}

.th_nav_bar_menu_mobile p {
    position: absolute;
    top: 1em;
    right: 2em;
}

.th_nav_bar_menu_mobile p i{
    font-size: 20px;
}

@keyframes vmccategory{
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes vmccategoryhide{
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

</style>