<form method="POST" action="{{config.wwwroot}}/local/th_edumy_cart/muangay.php">	
	<input type="hidden" name="action" value="muangay" />    
	<input type="hidden" name="courseid" value="{{courseid}}" />
	<input type="hidden" name="is_combo" value="{{combo}}" />
	<input type="hidden" name="default_code" value="{{default_code}}" />
	<a onclick="this.parentNode.submit()" class="product-buy-now" tabindex="0" default-code="{{default_code}}">
		Mua ngay
	</a>
</form>