<div id="wrap">
    <div class="container oe_website_sale py-2">
        <div class="row">     
            <div class="col-xl-8 col-lg-12">
                {{>local_th_edumy_cart/cart_products}}
            </div>
            <div class="col-xl-4 col-lg-12">
                {{>local_th_edumy_cart/cart_summary}}  
            </div>   
        </div>
    </div>
</div>