<td class="td-action delete-product-btn" data-oe-model="ir.ui.view" data-oe-id="2206" data-oe-field="arch" data-oe-xpath="/t[1]/table[1]/tbody[1]/t[1]/tr[1]/td[4]">
    <form method="POST">
    <input type="hidden" name="id" value="{{id_cart}}" />
    <input type="hidden" name="action" value="delete_product" />
    <a class="th-delete" onclick="this.parentNode.submit()" aria-label="Remove from cart" title="Remove from cart" class="js_delete_product no-decoration"> <small><i class="fa fa-trash-o"></i></small></a>
    </form>  
</td>