<div class="post-detail__contents">
    <div class="woocommerce">
        <p class="cart-empty woocommerce-info">Chưa có sản phẩm nào trong giỏ hàng.</p>	
        <p class="return-to-shop">
            <a class="button wc-backward" href="https://vmcvietnam.org/khoa-hoc">
            Quay trở lại cửa hàng		
            </a>
        </p>
    </div>
</div>