<div id="wrap">
    <div class="container container-payment">
        <div class="row"> 
            <div class="col-xl-6">
                {{>local_th_edumy_cart/payment_product}}  
            </div>    
            <div class="col-xl-6">
                {{>local_th_edumy_cart/form_payment}}
            </div>            
        </div>
    </div>
</div>