<div id="wrap">
    <div class="container oe_website_sale py-2">
        <div class="row">
            <div class="col-xl-8">
                {{>local_th_edumy_cart/confirmation/payment_infor}}
            </div>
            <div class="col-xl-4">
                {{>local_th_edumy_cart/confirmation/cart_summary}}
            </div>
        </div>
    </div>
</div>